:root {
    --primary-text-color:#434455;
    --title-text-color: #2E2F42;
    --accent-color: #4D5AE5;
}

body {
    color: var(--primary-text-color);
}

ul {
    list-style: none;
}    
/* header */ 
/* Logo */
.logo {
font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 24px;
    color: #4D5AE5;
}

.studio {
    font-style: normal;
        font-weight: 800;
        font-size: 18px;
        line-height: 24px;
        color: var(--title-text-color);
}
/* nav */
.site-nav .link {
    font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.02em;
        color: var(--title-text-color);
}
.site-nav .link:hover,
.site-nav .link:focus {
    color: var(--accent-color);
}

.auth-nav-mail {
    font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.02em;
        color: var(--primary-text-color);
}
.auth-nav-tel {
    font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.02em;
        color: var(--primary-text-color);
}

      /* hero */

  .hero-title {
    font-style: normal;
        font-weight: 600;
        font-size: 56px;
        line-height: 60px;
        text-align: center;
        letter-spacing: 0.02em;
       
  }

  .section-title-list {
    font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 24px;
        letter-spacing: 0.02em;
        color: var(--title-text-color);
  }
  .section-title-lead {
    font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.02em;
        color: #434455;
  }

  .sections-title {
    font-style: normal;
        font-weight: 600;
        font-size: 36px;
        line-height: 40px;
        text-align: center;
        letter-spacing: 0.02em;
        text-transform: capitalize;
        color: var(--title-text-color);
  }
  /* team */

  .sections-name {
    font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 24px;
        letter-spacing: 0.02em;
        color: var(--title-text-color);
  }
  .sections-profession {
    font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.02em;
        color: var(--primary-text-color);
  }

  /* bottom */
button {
    font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 19px;
        display: flex;
        align-items: center;
        letter-spacing: 0.04em;
        }
        button:hover {
        background: #4D5AE5;
        }

 /* Стилі для Portfolio */




